@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-image: url('./img/wood.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}